<h1>Program Admin Page</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Application Date</th>
    <th>Applicant Name</th>
    <th>Card Type</th>
    <th>Liability Type</th>
    <th>Approval Type</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor='let application of applications'>
    <td>08/29/1994</td>
    <td>{{application.fullName}}</td>
    <td>{{application.cardType}}</td>
    <td>{{application.liabilityType}}</td>
    <td>{{application.approvalType}}</td>
  </tr>
  </tbody>
</table>
